
.p4wn-log {
  font-family: monospace;
  white-space: pre;
  font-size: smaller;
  overflow: auto;
  max-width: 14em;
  height: 90%;
  /* border:1px solid blue; */
}

.p4wn-log-move {
  padding: 0px 7px;
  cursor: pointer;
}
