.activePlayer {
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
  width: 180px;
}

.rochade {
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
  width: 180px;
}

.rochadeSelect {
  width: 50px;
}

.continue {
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
  width: 100px;
  /*height: 30px;*/
}

.export {
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
  width: 150px;
  /*height: 30px;*/
}

.controlButton {
  padding: 0px 5px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin: 1px;
  float: left;
  float: left;
}
